map function:
The map function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list. For example:

In [5]:
map

map

In [1]:
def square(num):
    return num**2

In [2]:
my_nums=[1,2,3,4,5]

In [14]:
map(square, my_nums)

In [6]:
# To get the results, either iterate through map() 
# or just cast to a list

for x in map(square, my_nums):
    print(x)

1
4
9
16
25

In [7]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [8]:
def splicer(mystring):
    if len(mystring)%2==0:
        return "even length"
    else:
        return mystring[0]

In [11]:
names=["andy", "eve","sarah"]

In [12]:
list( map( splicer, names))

['even length', 'e', 's']

filter function:
The filter function returns an iterator yielding those items of iterable for which function(item) is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [19]:
def check_even(num):
    return num%2==0

In [20]:
mynums=[1,2,3,4,5]

In [18]:
list(filter(check_even, mynums))

[2, 4]

In [22]:
for n in filter(check_even, mynums):
    print(n)

2
4

#lambda functions:

lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

lambda's body is a single expression, not a block of statements.

The lambda's body is similar to what we would put in a def body's return statement. We simply type the result as an expression instead of explicitly returning it.

Lets slowly break down a lambda expression by deconstructing a function:

In [24]:
def square(num):
    result = num**2
    return result

In [28]:
def square(num):
    return num**2

In [26]:
def square(num): return num**2

In [29]:
square(4)

16

using lambda expression

In [30]:

lambda num: num ** 2

In [31]:
# You wouldn't usually assign a name to a lambda expression, this is just for demonstration!
square = lambda num: num **2

In [32]:
square(2)

4

In [34]:
#using map for lambda to print squares
list(map(lambda num: num ** 2, my_nums))

[1, 4, 9, 16, 25]

In [37]:
#using filter t check even 
list(filter(lambda n: n % 2 == 0,mynums))

[2, 4]

In [41]:
names=["julia", "meeru"]

In [42]:
#print first char of string

list(map(lambda s: s[0], names))

['j', 'm']

In [44]:
#reverse string using lambda

list(map(lambda s: s[::-1], names))

['ailuj', 'ureem']

In [45]:
#passing multiple expressions also 

lambda x,y : x + y