In [ ]:
#appending to an empty list
#using list functionality instead of loops

In [1]:
mystring="hello"

In [2]:
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
#alternatively:
mylist=[letter for letter in mystring]

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
mylist=[x for x in "sunday"]

In [7]:
mylist

['s', 'u', 'n', 'd', 'a', 'y']

In [9]:

mylist=[x for x in range(0,2)]
mylist

[0, 1]

In [ ]:
#appending squares of the range

In [10]:
mylist=[x**2 for x in range(0,5)]
mylist

[0, 1, 4, 9, 16]

In [11]:
#appending even num

In [13]:
mylist=[x for x in range(0,10) if x%2==0]
mylist

[0, 2, 4, 6, 8]

In [14]:
celcius=[1,10,20,34.4]
fahrenheit=[((9/5)*x+32) for x in celcius]
fahrenheit

[33.8, 50.0, 68.0, 93.92]

In [ ]:
# if,else statements

In [20]:
numbers=[x if x%2==0 else 'ODD' for x in range(0,10)]
numbers

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [21]:
nums=["even {}".format(x) if x%2==0 else 'ODD' for x in range(0,10)]
nums

['even 0',
 'ODD',
 'even 2',
 'ODD',
 'even 4',
 'ODD',
 'even 6',
 'ODD',
 'even 8',
 'ODD']

In [22]:
#nested loop using list comprehension

In [23]:
mylist=[]
for x in [2,4,6]:
    for y in [1,2,3]:
        mylist.append(x*y)

In [24]:
mylist

[2, 4, 6, 4, 8, 12, 6, 12, 18]

In [25]:
mylist=[x*y for x in [2,4,6] for y in[1,2,3]]
mylist

[2, 4, 6, 4, 8, 12, 6, 12, 18]